header
  .h-wrapper
    .h-logo
      a(href='/')
        span.logo-icon
        span.logo-large-title hashed potato
        span.logo-small-title It will be okay
    nav.h-nav-sub
      ul
        li
          a(href='/#about') ポテトシステム
        li
          a(href='/#usage') 使い方
        li
          a(href='/start') はじめる