head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width,initial-scale=1')
  title ログインデータを管理する | hashed-potato
  meta(name='description' content='オンライン上のログイン情報を管理する')
  meta(name='format-detection' content='telephone=no')
  link(rel='icon' type='image/svg+xml' href='images/favicon.svg')
  link(rel='icon' type='image/png' href='images/favicon.png')
  link(rel='apple-touch-icon' href='images/favicon.png')
  link(rel='stylesheet' type='text/css' href='stylesheets/reset.css')
  link(rel='stylesheet' type='text/css' href='stylesheets/style.css')