<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error</title>
</head>
<body>
  <h1>Error!</h1>
  <section>
    <h2>Status</h2>
    <p>
      <%= error.status %>
    </p>
  </section>
  <section>
    <h2>Message</h2>
    <pre>
      <%= message %>
    </pre>
  </section>
  <section>
    <h2>Stack</h2>
    <pre>
      <%= error.stack %>
    </pre>
  </section>
</body>
</html>