<div id="copyright">
    <small>Copyright&copy; <a href="index.html">Sample Online Mall</a> All Rights Reserved.</small>
    <span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</div>
<!--/#copyright-->