<meta charset="UTF-8">
<title>オンラインショップ・ショッピングモール向け 無料ホームページテンプレート tp_shop11</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<link rel="stylesheet" href="/css/style.css">