<h1 id="logo"><a href="/"><img src="/images/logo.png" alt="Sample Online Mall"></a></h1>
    <!--文字サイズ変更ボタン-->
    <div id="f-size">
    <p>文字サイズ</p>
    <ul>
        <li id="f-small"></li>
        <li id="f-large"></li>
    </ul>
</div>