<nav>
  <ul>
    <li class="current"><a href="../index.html">ホーム<span>Home</span></a></li>
    <li><a href="">食べ物<span>Foods</span></a>
      <ul>
        <li><a href="../list_foods.html">食べ物メニュー</a></li>
        <li><a href="../list_foods.html">食べ物メニュー</a></li>
        <li><a href="../list_foods.html">食べ物メニュー</a></li>
        <li><a href="../list_foods.html">食べ物メニュー</a></li>
      </ul>
    </li>
    <li><a href="">雑貨<span>Goods</span></a>
      <ul>
        <li><a href="../list_goods.html">雑貨メニュー</a></li>
        <li><a href="../list_goods.html">雑貨メニュー</a></li>
      </ul>
    </li>
    <li><a href="../open.html">出店募集<span>Open Shop</span></a></li>
    <li><a href="faq.html">よく頂く質問<span>Faq</span></a></li>
  </ul>
</nav>

<div class="sh">
  900px以下でだけ表示させたいコンテンツがあればこのブロック内に入れます。<br>
  サンプルテキスト。<br>
  サンプルテキスト。
</div>