<!DOCTYPE html>
<html lang="en">
<body>
  <form action="/pubkey/new" method="post">
    <label for="sid">
      Service ID
      <input type="text" name="sid" id="sid">
    </label>
    <label for="pub">
      Public Key
      <input type="text" name="pub" id="pub">
    </label>
    <input type="submit" value="送信">
  </form>
</body>
</html>