<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include('components/head.ejs'); %>
</head>

<body>
  <div id="container">

    <header>
      <%- include('components/header.ejs'); %>
    </header>

    <!--開閉ブロック-->
    <div id="menubar">
      <%- include('components/menubar.ejs'); %>
    </div>
    <!--/#menubar-->

    <!--スライドショー（slick）-->
    <aside class="mainimg-slick">
      <div><img src="images/1.jpg" alt=""></div>
      <div><img src="images/2.jpg" alt=""></div>
      <div><img src="images/3.jpg" alt=""></div>
    </aside>

    <section>

      <h2 class="ribon"><span>今月のお買い得情報</span></h2>

      <div class="thumbnail-slide">
        <a href="#"><img src="images/1.jpg" alt=""></a>
        <a href="#"><img src="images/2.jpg" alt=""></a>
        <a href="#"><img src="images/3.jpg" alt=""></a>
        <a href="#"><img src="images/1.jpg" alt=""></a>
        <a href="#"><img src="images/2.jpg" alt=""></a>
        <a href="#"><img src="images/3.jpg" alt=""></a>
      </div>

    </section>

    <main class="column">

      <div class="main-contents">

        <section>

          <h2>今月の出店サイト様（レイアウト：list-grid1）</h2>

          <div class="list-grid1">

            <div class="list">
              <figure><a href="#"><img src="images/1.jpg" alt=""></a></figure>
              <div class="text">
                <h4><a href="#">サイト名</a></h4>
                <p>ここにコメントを書きます。サンプルテキスト。ここにコメントを書きます。サンプルテキスト。ここにコメントを書きます。サンプルテキスト。</p>
              </div>
              <span class="newicon">NEW</span>
            </div>

            <div class="list">
              <figure><a href="#"><img src="images/1.jpg" alt=""></a></figure>
              <div class="text">
                <h4><a href="#">サイト名</a></h4>
                <p>ここにコメントを書きます。サンプルテキスト。ここにコメントを書きます。サンプルテキスト。</p>
              </div>
            </div>

            <div class="list">
              <figure><a href="#"><img src="images/1.jpg" alt=""></a></figure>
              <div class="text">
                <h4><a href="#">サイト名</a></h4>
                <p>ここにコメントを書きます。サンプルテキスト。</p>
              </div>
            </div>

            <div class="list">
              <figure><a href="#"><img src="images/1.jpg" alt=""></a></figure>
              <div class="text">
                <h4><a href="#">サイト名</a></h4>
                <p>ここにコメントを書きます。サンプルテキスト。</p>
              </div>
              <span class="newicon">NEW</span>
            </div>

            <div class="list">
              <figure><a href="#"><img src="images/1.jpg" alt=""></a></figure>
              <div class="text">
                <h4><a href="#">サイト名</a></h4>
                <p>ここにコメントを書きます。サンプルテキスト。</p>
              </div>
            </div>

            <div class="list">
              <figure><a href="#"><img src="images/1.jpg" alt=""></a></figure>
              <div class="text">
                <h4><a href="#">サイト名</a></h4>
                <p>ここにコメントを書きます。サンプルテキスト。</p>
              </div>
            </div>

          </div>

        </section>

        <section>

          <h2>今月の出店サイト様（レイアウト：list-grid2）</h2>

          <div class="list-grid2">

            <div class="list">
              <figure><a href="#"><img src="images/sample1.png" alt=""></a></figure>
              <div class="text">
                <h4><a href="#">サイト名</a></h4>
                <p>ここにコメントを書きます。サンプルテキスト。ここにコメントを書きます。サンプルテキスト。</p>
              </div>
              <span class="newicon">NEW</span>
            </div>

            <div class="list">
              <figure><a href="#"><img src="images/sample1.png" alt=""></a></figure>
              <div class="text">
                <h4><a href="#">サイト名</a></h4>
                <p>ここにコメントを書きます。サンプルテキスト。ここにコメントを書きます。サンプルテキスト。</p>
              </div>
            </div>

            <div class="list">
              <figure><a href="#"><img src="images/sample1.png" alt=""></a></figure>
              <div class="text">
                <h4><a href="#">サイト名</a></h4>
                <p>ここにコメントを書きます。サンプルテキスト。ここにコメントを書きます。サンプルテキスト。</p>
              </div>
              <span class="newicon">NEW</span>
            </div>

            <div class="list">
              <figure><a href="#"><img src="images/sample1.png" alt=""></a></figure>
              <div class="text">
                <h4><a href="#">サイト名</a></h4>
                <p>ここにコメントを書きます。サンプルテキスト。ここにコメントを書きます。サンプルテキスト。</p>
              </div>
            </div>

          </div>

        </section>

        <section>

          <h2>お知らせ</h2>

          <dl class="new">
            <dt>2024/04/15<span>その他</span></dt>
            <dd>オンラインショップ・ショッピングモール向け 無料ホームページテンプレート tp_shop11公開。</dd>
            <dt>20XX/00/00<span class="icon-bg1">重要</span></dt>
            <dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>
            <dt>20XX/00/00<span class="icon-bg2">サービス</span></dt>
            <dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>
            <dt>20XX/00/00<span>その他</span></dt>
            <dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>
            <dt>20XX/00/00<span>その他</span></dt>
            <dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>
          </dl>

        </section>

        <section>

          <h2>テンプレートのご利用前に必ずお読み下さい</h2>

          <h3>利用規約のご案内</h3>
          <p>このテンプレートは、<a href="https://template-party.com/">Template Party</a>にて無料配布している『オンラインショップ・ショッピングモール向け 無料ホームページテンプレート tp_shop11』です。必ずダウンロード先のサイトの<a href="https://template-party.com/read.html">利用規約</a>をご一読の上でご利用下さい。</p>
          <p><strong class="color-check">HP最下部の著作表示『Web Design:Template-Party』は無断で削除しないで下さい。</strong><br>
            わざと見えなく加工する事も禁止です。</p>
          <p><strong class="color-check">下部の著作を<a href="#">外したい</a>場合は</strong><br>
            <a href="https://template-party.com/">Template-Party</a>の<a href="https://template-party.com/member.html">ライセンス契約</a>を行う事でHP下部の著作を外す事ができます。
          </p>

        </section>

      </div>
      <!--/.main-contents-->

      <div class="sub-contents">

        <p class="btn1"><a href="/signin">ログイン</a></p>

        <h3>食べ物</h3>
        <nav>
          <ul class="submenu">
            <li><a href="#">食べ物メニュー</a></li>
            <li><a href="#">食べ物メニュー</a></li>
            <li><a href="#">食べ物メニュー</a></li>
            <li><a href="#">食べ物メニュー</a></li>
          </ul>
        </nav>

        <h3>雑貨</h3>
        <nav>
          <ul class="submenu">
            <li><a href="#">雑貨メニュー</a></li>
            <li><a href="#">雑貨メニュー</a></li>
          </ul>
        </nav>

        <h3>Site Menu</h3>

        <nav>
          <ul class="submenu">
            <li><a href="index.html">ホーム</a></li>
            <li><a href="#">出店募集</a></li>
            <li><a href="#">よく頂く質問</a></li>
            <li><a href="#">会社概要</a></li>
            <li><a href="#">お問い合わせ</a></li>
          </ul>
        </nav>

      </div>
      <!--/.sub-contents-->

    </main>

    <footer>
      <%- include('components/footer.ejs'); %>
    </footer>

  </div>
  <!--/#container-->

  <!--ページの上部へ戻るボタン-->
  <div class="pagetop"><a href="#"><i class="fas fa-angle-double-up"></i></a></div>

  <!--開閉ボタン（ハンバーガーアイコン）-->
  <div id="menubar_hdr">
    <span></span><span></span><span></span>
  </div>

  <!--jQueryの読み込み-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!--文字サイズチェンジ用のスクリプト-->
  <script src="js/fontSizeChanger.js"></script>

  <!--スライドショー（slick）-->
  <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="js/slick.js"></script>

  <!--このテンプレート専用のスクリプト-->
  <script src="js/main.js"></script>

</body>

</html>